@model TestPortal.Models.PageObject
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Sherman - Suppliers Testing Portal</title>
    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <title>Sherman - Distributor Testing Portal</title>
    <!-- General CSS Files -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <!-- CSS Libraries -->

    <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
    <link href="~/Content/jquery.jqGrid/ui.jqgrid.css" rel="stylesheet" />
    <!-- Template CSS -->
    <link href="~/Content/dropzone.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/components.css" rel="stylesheet" />

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/themes/redmond/jquery-ui.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/free-jqgrid/4.15.5/jquery.jqgrid.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/themes/redmond/jquery-ui.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/free-jqgrid/4.15.5/css/ui.jqgrid.min.css">
    <link href="~/Content/Site.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/free-jqgrid/4.15.5/jquery.jqgrid.min.js"></script>
</head>
<body class="sidebar-mini" style="overflow:hidden;">
    <div id="app">
        <div class="main-wrapper">
            <div class="navbar-bg"></div>
            <nav class="navbar navbar-expand-lg main-navbar">
                <form class="form-inline mr-auto">
                    <a href="@Url.Action("Index", "Home")">
                        <img src="~/Content/Images/Sherman_logo.png" alt="Sherman - Distributor Testing Portal" />
                    </a>
                </form>
                <ul class="navbar-nav navbar-right">
                    <li class="nav-link nav-link-lg nav-link-user">
                        <div class="d-sm-none d-lg-inline-block ">שלום, @Model.User.FullName, @Model.User.SupplierName</div>
                    </li>
                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown" class="nav-link nav-link-lg nav-link-user">
                            @*<div class="d-sm-none d-lg-inline-block">Hi, @Model.User.FullName, @Model.User.SupplierName</div>*@
                            <i class="fas fa-user-cog"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <div class="dropdown-title">Settings</div>
                            <a href="@Url.Action("UserProfile", "Account")" class="dropdown-item has-icon">
                                <i class="far fa-user"></i> Profile
                            </a>
                            <div class="dropdown-divider"></div>
                            <a href="@Url.Action("LogOff", "Account")" class="dropdown-item has-icon text-danger">
                                <i class="fas fa-sign-out-alt"></i> Logout
                            </a>
                        </div>
                    </li>
                </ul>
            </nav>
            <div class="main-sidebar">
                <aside id="sidebar-wrapper">
                    <ul class="sidebar-menu">
                        <li class="menu-header">&nbsp;</li>
                        <li class="nav-item dropdown active">
                            <a href="@Url.Action("Index", "Home")" class="nav-link" style="background-color:rgb(1,65,111);height:60px;">
                                <div class="item">
                                    <i class="fas fa-home"></i>
                                    <div class="caption" style="color:#FFF;">Orders</div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </aside>
            </div>

            <div class="main-content">
                <section class="section">
                    <div class="section-header">
                        <h1>@ViewBag.Title</h1>
                    </div>
                    @RenderBody()
                </section>
                <footer class="main-footer">
                    <div class="footer-right">
                        <span class="">
                            &nbsp;Created by <a href="http://www.efimp.com"><img src="~/Content/Images/EF_logo.jpg" style="width:130px;height:50px" /></a>
                        </span>
                        <span>&nbsp;</span>
                        <span class="">Deveplopment: LMNS</span>
                    </div>
                    <div class="footer-left">
                        &copy; @DateTime.Now.Year - Sherman
                    </div>
                </footer>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <!-- General JS Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    @*<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.7.6/jquery.nicescroll.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>

    <script src="~/Scripts/stisla.js"></script>
    <script src="~/Scripts/dropzone.js"></script>

    <script src="~/Scripts/scripts.js"></script>
    <script src="~/Scripts/custom.js"></script>
    <!-- Page Specific JS File -->
    <script src="~/Scripts/bootstrap-modal.js"></script>
    <script src="~/Scripts/components-multiple-upload.js"></script>

    <script src="~/Scripts/jquery-ui-1.10.0.min.js"></script>
    <script src="~/Scripts/i18n/grid.locale-en.js"></script>
    <script src="~/Scripts/jquery.jqGrid.min.js"></script>

    <script src="~/Scripts/jpGrid_EN.js"></script>
    <script src="~/Scripts/TestProductOrderItems_EN.js"></script>
    <script src="~/Scripts/TestProductOrderItems_Common.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>