@model TestPortal.Models.PageObject
@{
    /**/

    ViewBag.Title = "שורות הזמנה";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="section-body" id="mainPageContent" style="overflow-y:scroll;overflow-x:hidden;">
    <div class="row">
        @Html.Partial("_OrderDetails")
    </div>
    <div class="row">
        <div class="col-12 col-md-12 col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h4><i class="fas fa-list" style="font-size: 20px;"></i> שורות הזמנה </h4>
                </div>
                <div class="card-body">
                    <div>
                        <table id="jqGrid"></table>
                        <div id="jqGridPager"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="modal-error" class="card">
        <p id="modal-error-text"></p>
    </div>
    <div id="loader" class="loader"></div>
    <div id="downLoadFile" data-url="@Url.Action("DownloadFile", "Home")"></div>
    <div id="Logoff" data-url="@Url.Action("LogOff", "Account")"></div>

    <div id="navQA_Page" data-url="@Url.Action("QA_Page", "Home_IL")"></div>
    <div id="navPostTestProductItem" data-url="@Url.Action("PostTestProductItem", "Home_IL")"></div>
    <div id="navTestProductOrderItems" data-url="@Url.Action("TestProductOrderItems", "Home_IL")"></div>
    
    <div id="navTestProductItemData" data-url="@Url.Action("TestProductItemData", "Home_IL")"></div>
    <div id="navGetProductRevisionList" data-url="@Url.Action("GetProductRevisionList", "Home_IL")"></div>
    <div id="navDownload" data-url="@Url.Action("Download", "Home_IL")"></div>
    <div id="navDownloadFile" data-url="@Url.Action("DownloadFile", "Home_IL")"></div>
    <div id="navSaveTest" data-url="@Url.Action("SaveTest", "Home_IL")"></div>
    <div id="navUploadFiles" data-url="@Url.Action("UploadFiles", "Home_IL")"></div>
    <div id="navCreateTest" data-url="@Url.Action("CreateTest", "Home_IL")"></div>
    <div id="navGetSampleTestList" data-url="@Url.Action("GetSampleTestList", "Home_IL")"></div>
</div>
<script type="text/javascript">
    $(window).load(function () {

        $('.section-body').css('height', $(document).innerHeight() - ($(document).innerHeight() / 30));
        $('.section-body').css('height', $('.section-body').height() - ($(document).innerHeight() - $('.section-body').height()));
    });

    $(document).ready(function () {
    var data = @Html.Raw(Json.Encode(Model));
    console.log('$(document).ready ==> data = ', data);
    $("#loader").show();
    InitTestPageData(data);
    $("#loader").hide();
    $.jgrid.defaults.responsive = true;
    $.jgrid.defaults.shrinkToFit = false;

    $('.section-body').css('height', $(document).innerHeight() - ($(document).innerHeight() / 30));
    $('.section-body').css('height', $('.section-body').height() - ($(document).innerHeight() + $('.section-body').height()));
});

</script>
<!-- JS Libraies -->
