@model TestPortal.Models.PageObject
@{
    /**/

    ViewBag.Title = "סביבת בדיקות";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="section-body" id="mainPageContent" style="overflow-y:scroll;">
    <div class="row">
        <div class="col-6 col-md-6 col-lg-6">
            <div class="card">
                <div class="col-12">
                    <form>
                        <div class="card-header">
                            <h4><i class="fas fa-file-invoice" style="font-size: 20px;"></i> פרטי הזמנה</h4>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="form-group col-md-3 col-12">
                                    <label class="control-label" style="color:#01416F; font-weight:bolder;">הזמנה #</label>
                                    <div class="col-sm-3">
                                        <label class="control-label" id="lbl_ORDNAME">@Model.objOrder.ORDNAME</label>
                                    </div>
                                </div>
                                <div class="form-group col-md-3 col-12">
                                    <label class="control-label" style="color:#01416F; font-weight:bolder;">תאריך הזמנה</label>
                                    <div class="col-sm-3">
                                        <label class="control-label" id="lbl_pageCURDATE">@Model.objOrder.pageCURDATE</label>
                                    </div>
                                </div>
                                <div class="form-group col-md-3 col-12">
                                    <label class="control-label" style="color:#01416F; font-weight:bolder;">סטטוס הזמנה</label>
                                    <div class="col-sm-3">
                                        <label class="control-label" id="lbl_STATDESE">@Model.objOrder.STATDES</label>
                                    </div>
                                </div>
                                <div class="form-group col-md-3 col-12">
                                    <label class="control-label" style="color:#01416F; font-weight:bolder;">לטיפול(קניין) </label>
                                    <div class="col-sm-3">
                                        <label class="control-label" id="lbl_OWNERLOGIN">@Model.objOrder.OWNERLOGIN</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-3 col-12">
                                    <label class="control-label" style="color:#01416F; font-weight:bolder;">תאור סוג ספק</label>
                                    <div class="col-sm-3">
                                        <label class="control-label" id="SHR_SUPTYPEDES">@Model.objOrder.SHR_SUPTYPEDES</label>
                                    </div>
                                </div>
                                <div class="form-group col-md-3 col-12">
                                    <label class="control-label" style="color:#01416F; font-weight:bolder;">ספק #</label>
                                    <div class="col-sm-3">
                                        <label class="control-label" id="lbl_SUPNAME">@Model.objOrder.SUPNAME</label>
                                    </div>
                                </div>
                                <div class="form-group col-md-6 col-12">
                                    <label class="control-label" style="color:#01416F; font-weight:bolder;">שם ספק</label>
                                    <div class="col-sm-6">
                                        <label class="control-label" id="lbl_CDES">@Model.objOrder.CDES</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-6 col-lg-6">
            <div class="card">
                <div class="col-12">
                    <form>
                        <div class="card-header">
                            <h4><i class="fas fa-file-invoice" style="font-size: 20px;"></i> תעודת דגימה</h4>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="form-group col-md-3 col-12">
                                    <label class="control-label" style="color:#01416F; font-weight:bolder;">דגימה #</label>
                                    <div class="col-sm-3">
                                        <label class="control-label" id="lbl_S_DOCNO">@Model.objSample.DOCNO</label>
                                    </div>
                                </div>
                                <div class="form-group col-md-3 col-12">
                                    <label class="control-label" style="color:#01416F; font-weight:bolder;">תאריך דגימה</label>
                                    <div class="col-sm-3">
                                        <label class="control-label" id="lbl_S_CURDATE">@Convert.ToDateTime(Model.objSample.CURDATE).ToShortDateString()</label>
                                    </div>
                                </div>
                                <div class="form-group col-md-3 col-12">
                                    <label class="control-label" style="color:#01416F; font-weight:bolder;">כמות</label>
                                    <div class="col-sm-3">
                                        <label class="control-label" id="lbl_S_QUANT">@Model.objSample.QUANT</label>
                                    </div>
                                </div>
                                <div class="form-group col-md-3 col-12">
                                    <label class="control-label" style="color:#01416F; font-weight:bolder;">מק"ט </label>
                                    <div class="col-sm-3">
                                        <label class="control-label" id="lbl_S_SERIALNAME">@Model.objSample.SERIALNAME</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-3 col-12">
                                    <label class="control-label" style="color:#01416F; font-weight:bolder;">רמת איכות</label>
                                    <div class="col-sm-3">
                                        <label class="control-label" id="lbl_S_SHR_RAR">@Model.objSample.SHR_RAR</label>
                                    </div>
                                </div>
                                <div class="form-group col-md-3 col-12">
                                    <label class="control-label" style="color:#01416F; font-weight:bolder;">כמות הפק"ע</label>
                                    <div class="col-sm-3">
                                        <label class="control-label" id="lbl_S_SHR_SERIAL_QUANT">@Model.objSample.SHR_SERIAL_QUANT</label>
                                    </div>
                                </div>
                                <div class="form-group col-md-3 col-12">
                                    <label class="control-label" style="color:#01416F; font-weight:bolder;">סטטוס</label>
                                    <div class="col-sm-3">
                                        <label class="control-label" id="lbl_S_STATDES">@Model.objSample.STATDES</label>
                                    </div>
                                </div>
                                <div class="form-group col-md-3 col-12">
                                    <label class="control-label" style="color:#01416F; font-weight:bolder;">תקן דגימה</label>
                                    <div class="col-sm-3">
                                        <label class="control-label" id="lbl_S_SHR_SAMPLE_STD_CODE">@Model.objSample.SHR_SAMPLE_STD_CODE</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-12 col-lg-12">
            <div class="card">
                <div class="col-12">
                    <form>
                        <input type="hidden" id="hdnOrdId" value="@Model.objOrder.ORD" />
                        <input type="hidden" id="hdnPrdId" value="@Model.objProduct.PARTNAME" />
                        <div class="card-header">
                            <h4><i class="fas fa-puzzle-piece" style="font-size: 20px;"></i> פרטי מוצר</h4>
                            <button class="btn btn-primary" id="modal-7" style="visibility:hidden;">בדיקה חדשה</button>
                            <button class="btn btn-danger" id="modal-1" style="visibility:hidden;">שגיאה</button>
                            <button class="btn btn-danger" id="modal-9" style="visibility:hidden;">רשימת דגימות</button>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="form-group col-md-2 col-12">
                                    <label class="control-label" style="color:#01416F; font-weight:bolder;">שורה#</label>
                                    <div class="col-sm-1">
                                        <label class="control-label" id="lblLineNun">@Model.objProduct.LINE</label>
                                    </div>
                                </div>
                                <div class="form-group col-md-2 col-12">
                                    <label class="control-label" style="color:#01416F; font-weight:bolder;">מק"ט</label>
                                    <div class="col-sm-2">
                                        <label class="control-label" id="lblProductName">@Model.objProduct.PARTNAME</label>
                                    </div>
                                </div>
                                <div class="form-group col-md-2 col-12">
                                    <label class="control-label" style="color:#01416F; font-weight:bolder;">תאריך אספקה</label>
                                    <div class="col-sm-2">
                                        <label class="control-label" id="lblSupplyDate">@Model.objProduct.pageREQDATE</label>
                                    </div>
                                </div>
                                <div class="form-group col-md-2 col-12">
                                    <label class="control-label " style="color:#01416F; font-weight:bolder;">לפק"ע</label>
                                    <div class="col-sm-2">
                                        <label class="control-label" id="lbl_SERIALNAME">@Model.objProduct.SERIALNAME</label>
                                    </div>
                                </div>
                                <div class="form-group col-md-4 col-12">
                                    <label class="control-label" style="color:#01416F; font-weight:bolder;">תאור</label>
                                    <div class="col-sm-5">
                                        <label class="control-label" id="lblProductDescription">@Model.objProduct.PDES</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-2 col-12">
                                    <label class="control-label" style="color:#01416F; font-weight:bolder;">תאריך אספקה מבוקש</label>
                                    <div class="col-sm-2">
                                        <label class="control-label" id="lbl_REQDATE2">@Model.objProduct.REQDATE2</label>
                                    </div>
                                </div>
                                <div class="form-group col-md-2 col-12">
                                    <label class="control-label" style="color:#01416F; font-weight:bolder;">כמות</label>
                                    <div class="col-sm-2">
                                        <label class="control-label" id="lblTotalAmountInOrder">@Model.objProduct.TQUANT</label>
                                    </div>
                                </div>
                                <div class="form-group col-md-2 col-12">
                                    <label class="control-label" style="color:#01416F; font-weight:bolder;">יתרה לאספקה</label>
                                    <div class="col-sm-2">
                                        <label class="control-label" id="lblLeftAmountToDeliver">@Model.objProduct.TBALANCE</label>
                                    </div>
                                </div>
                                <div class="form-group col-md-2 col-12">
                                    <label class="control-label" style="color:#01416F; font-weight:bolder;">פעולה</label>
                                    <div class="col-sm-2">
                                        <label class="control-label" id="lbl_ACTNAME">@Model.objProduct.ACTNAME</label>
                                    </div>
                                </div>
                                <div class="form-group col-md-4 col-12">
                                    <label class="control-label" style="color:#01416F; font-weight:bolder;">שרטוט</label>
                                    <div class="col-sm-4">
                                        <label class="control-label" id="lbl_SHR_DRAW">@Model.objProduct.SHR_DRAW</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-2 col-12">
                                    <label class="control-label" style="color:#01416F; font-weight:bolder;">שם יצרן לשורת הזמנה</label>
                                    <div class="col-sm-2">
                                        <label class="control-label" id="lbl_SHR_MNFDES">@Model.objProduct.SHR_MNFDES</label>
                                    </div>
                                </div>
                                <div class="form-group col-md-2 col-12">
                                    <label class="control-label" style="color:#01416F; font-weight:bolder;">מק"ט יצרן</label>
                                    <div class="col-sm-2">
                                        <label class="control-label" id="lbl_SHR_MNFPARTNAME">@Model.objProduct.SHR_MNFPARTNAME</label>
                                    </div>
                                </div>
                                <div class="form-group col-md-2 col-12">
                                    <label class="control-label" style="color:#01416F; font-weight:bolder;">מה.עץ מוצר מפק"ע</label>
                                    <div class="col-sm-2">
                                        <label class="control-label" id="lbl_SHR_SERIAL_REVNUM">@Model.objProduct.SHR_SERIAL_REVNUM</label>
                                    </div>
                                </div>
                                <div class="form-group col-md-2 col-12">
                                    <label class="control-label" style="color:#01416F; font-weight:bolder;">מהדורת מוצר</label>
                                    <div class="col-sm-2">
                                        <label class="control-label" id="lbl_REVNAME">@Model.objProduct.REVNAME</label>
                                    </div>
                                </div>
                                <div class="form-group col-md-4 col-12">
                                    <label class="control-label" style="color:#01416F; font-weight:bolder;">סיבת דחיה</label>
                                    <div class="col-sm-4">
                                        <label class="control-label" id="lblReasonRejection"></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 col-lg-6">
            <div class="card">
                <div class="card-header">
                    <h4><i class="fas fa-list" style="font-size: 20px;"></i> שורות הזמנה</h4>
                </div>
                <div class="card-body">
                    <div>
                        <table id="jqGrid"></table>
                        <div id="jqGridPager"></div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h4><i class="fas fa-download" style="font-size: 20px;"></i> קבצים למק"ט</h4>
                </div>
                <div class="card-body">
                    <div>
                        <table id="jqGridAttachments"></table>
                        <div id="jqGridAttachmentsPager"></div>
                    </div>
                </div>
            </div>
            @*<div class="card">
                    <div class="card-header">
                        <h4><i class="fas fa-balance-scale" style="font-size: 20px;"></i> בדיקות שבוצעו למוצר</h4>
                    </div>
                    <div class="card-body">
                        <div>
                            <table id="jqGridTest"></table>
                            <div id="jqGridTestPager"></div>
                        </div>
                    </div>
                </div>*@
        </div>
        <div class="col-12 col-md-6 col-lg-6">
            <div class="card">
                <div class="card-header">
                    <h4><i class="fab fa-rev" style="font-size: 20px;"></i> רשימת דגימות למוצר</h4>
                </div>
                <div class="card-body">
                    <div>
                        <table id="jqGridRevision"></table>
                        <div id="jqGridRevisionPager"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Html.Partial("_Sample_QA")
    @Html.Partial("_SampleQA_List")
    @*FORM WAS HERE **@
    <div id="modal-error" class="card">
        <p id="modal-error-text"></p>
    </div>
    <div id="loader" class="loader"></div>
    <div id="downLoadFile" data-url="@Url.Action("DownloadFile", "Home")"></div>
    <div id="Logoff" data-url="@Url.Action("LogOff", "Account")"></div>

    <div id="navPostTestProductItem" data-url="@Url.Action("PostTestProductItem", "Home_IL")"></div>
    <div id="navTestProductOrderItems" data-url="@Url.Action("TestProductOrderItems", "Home_IL")"></div>
    <div id="navGetOrderProductTests" data-url="@Url.Action("GetOrderProductTests", "Home_IL")"></div>
    <div id="navTestProductItemData" data-url="@Url.Action("TestProductItemData", "Home_IL")"></div>
    <div id="navGetProductRevisionList" data-url="@Url.Action("GetProductRevisionList", "Home_IL")"></div>
    <div id="navDownload" data-url="@Url.Action("Download", "Home_IL")"></div>
    <div id="navDownloadFile" data-url="@Url.Action("DownloadFile", "Home_IL")"></div>
    <div id="navSaveTest" data-url="@Url.Action("SaveTest", "Home_IL")"></div>
    <div id="navUploadFiles" data-url="@Url.Action("UploadFiles", "Home_IL")"></div>
    <div id="navCreateTest" data-url="@Url.Action("CreateTest", "Home_IL")"></div>
    <div id="navGetSampleTestList" data-url="@Url.Action("GetSampleTestList", "Home_IL")"></div>
</div>
<script type="text/javascript">
    $(window).load(function () {

        $('.section-body').css('height', $(document).innerHeight() - ($(document).innerHeight() / 30));
        $('.section-body').css('height', $('.section-body').height() - ($(document).innerHeight() - $('.section-body').height()));
    });

    $(document).ready(function () {
    var data = @Html.Raw(Json.Encode(Model));
    console.log('$(document).ready ==> data = ', data);
    $("#loader").show();
    InitTestPageData(data);
    $("#loader").hide();
    $.jgrid.defaults.responsive = true;
    $.jgrid.defaults.shrinkToFit = false;

    $('.section-body').css('height', $(document).innerHeight() - ($(document).innerHeight() / 30));
    $('.section-body').css('height', $('.section-body').height() - ($(document).innerHeight() + $('.section-body').height()));
});

</script>
<!-- JS Libraies -->
