@model TestPortal.Models.PageObject
@{
    ViewBag.Title = "Testing Arena";
    Layout = "~/Views/Shared/_Layout_EN.cshtml";
}

<script>
    $.jgrid.defaults.responsive = true;
    $.jgrid.defaults.shrinkToFit = false;
</script>
<div class="section-body" id="mainPageContent" style="overflow-y:scroll; overflow-x:hidden;">
    <div class="row">
        @Html.Partial("_OrderLineDetails")
    </div>
    @*@Html.Partial("_SampleDetails")*@
    <div class="row">
        <div class="col-8 col-md-8 col-lg-8">
            <div class="card">
                <div class="card-header">
                    <h4><i class="fas fa-certificate" style="font-size: 20px;"></i> Product samples list</h4>
                </div>
                <div class="card-body">
                    <div>
                        <table id="jqGridPartSampls"></table>
                        <div id="jqGridPartSamplsPager"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4 col-md-4 col-lg-4">
            <div class="card">
                <div class="card-header">
                    <h4><i class="fas fa-download" style="font-size: 20px;"></i> Serial files</h4>
                </div>
                <div class="card-body">
                    <div>
                        <table id="jqGridAttachments"></table>
                        @*<div id="jqGridAttachmentsPager"></div>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-12 col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h4><i class="fab fa-rev" style="font-size: 20px;"></i> Product test list</h4>
                </div>
                <div class="card-body">
                    <div>
                        <table id="jqGridRevision"></table>
                        <div id="jqGridRevisionPager"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button class="btn btn-primary" id="modal-8" style="visibility:hidden;">New Test</button>
    <button class="btn btn-danger" id="modal-1" style="visibility:hidden;">Error</button>
    <button class="btn btn-danger" id="modal-10" style="visibility:hidden;">Sample list</button>
    <button class="btn btn-danger" id="modal-21" style="visibility:hidden;">System message</button>
    <button class="btn btn-danger" id="modal-14" style="visibility:hidden;">Update sample details</button>
    <div id="modal-error" class="card"></div>
    @Html.Partial("_Sample_QA")
    @Html.Partial("_SampleQA_List")
    @Html.Partial("_SampleDetails")
    <div id="navTestProduct" data-url="@Url.Action("TestProduct", "Home")"></div>
    <div id="navGetSampleTest" data-url="@Url.Action("GetSampleTests", "Home")"></div>
    <div id="navGetSampleTestList" data-url="@Url.Action("GetSampleTestList", "Home")"></div>
    <div id="navCreateTest" data-url="@Url.Action("CreateTest", "Home")"></div>
    <div id="navCreateSampleDocument" data-url="@Url.Action("CreateSampleDocument", "Home")"></div>
    <div id="navDownloadFile" data-url="@Url.Action("DownloadFile", "Home")"></div>
    <div id="navDownload" data-url="@Url.Action("Download", "Home")"></div>
    <div id="navDownloadFile" data-url="@Url.Action("GetProductRevisionList", "Home")"></div>
    <div id="navSaveTest" data-url="@Url.Action("SaveTest", "Home")"></div>
    <div id="navUploadFiles" data-url="@Url.Action("UploadFiles", "Home")"></div>
    <div id="navGetOrderProductTests" data-url="@Url.Action("GetOrderProductTestsByDoc", "Home")"></div>
    <div id="navUpdateSampleDetails" data-url="@Url.Action("UpdateSampleDetails", "Home")"></div>
    <div id="navGetSampleStandardList" data-url="@Url.Action("GetSampleStandardList", "Home")"></div>
</div>
<script type="text/javascript">
    $.jgrid.defaults.responsive = true;
    $.jgrid.defaults.shrinkToFit = false;
$(window).load(function () {

    $('.section-body').css('height', $(document).innerHeight() - ($(document).innerHeight() / 30));
    $('.section-body').css('height', $('.section-body').height() - ($(document).innerHeight() - $('.section-body').height()));
});

$(document).ready(function () {
    $("#loader").show();
    var data = @Html.Raw(Json.Encode(Model));
    console.log('$(document).ready ==> data = ', data);
    InitQAPageData(data);

    $('.section-body').css('height', $(document).innerHeight() - ($(document).innerHeight() / 30));
    $('.section-body').css('height', $('.section-body').height() - ($(document).innerHeight() + $('.section-body').height()));
});

</script>
